p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.titulo-principal{
    padding-left: 20px;
}
#banner {
    width: 100%;
}
.titulo-centralizado{
    text-align: center;
}

.principal{
    background: #cccccc;
}

p{
    text-align: center;
}

#principal{
    font-size: 20px;
    padding: 30px;
}

em > strong{
    color: #ff0000;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.lista-beneficios{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 1% 10% 0 5%;
    list-style-type: disc;
    
}
.itens {
    font-style: italic;
}

.imagembeneficios{
    width: 50%;
    
}

footer{
    background: url("midia/bg.jpg");
    text-align: center;
    padding: 40px 0px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
    
}