*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #444444;
    padding: 8px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.cabecalho {
    background-color: red;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: span 4;
    grid-row: 4;

}

.menu-lateral {
    background-color: rgb(11, 187, 11);
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: span 3;
    grid-column: 4;
}

.principal {
    background-color: aqua;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: 1 / span 3;
    grid-column: span 2;
    grid-column: 2 / span 2;
}

.direita-cima {
    background-color: blue;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: 3;
    grid-column: 1;
}

.direita-baixo {
    background-color: rgb(255, 103, 129);
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: 1 / span 2;
    grid-column: 1;
}